button {
  border: none;
  background-color: rgb(87, 86, 90);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: rgb(73, 72, 72);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 125, 29);
}

.equals:hover {
  background-color: rgb(192, 98, 21);
}
